@charset "UTF-8";

/* Breakpoints
---------------------------------
Pequenas telas: até 600px
Celular: até 767px
Tablet: 768px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1200px
---------------------------------*/

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #7fe7e7, #206767);
    }
    
    section#login {
        width: 80vw;          /* ocupa 80% da tela */
        max-width: 700px;     /* limite de largura */
        height: auto;
        display: flex;
        flex-direction: row;  /* imagem + formulário lado a lado */
        align-items: stretch; /* altura igual */
    }

    section#login > div#imagem {
        width: 35%;
        height: auto;
    }

    section#login > div#formulario {
        width: 65%;
        padding: 20px;
    }
}

/* Desktop */
@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to bottom, #7fe7e7, #206767);
    }
    
    section#login {
        width: 950px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    section#login > div#imagem {
        width: 50%;
        height: auto;
    }

    section#login > div#formulario {
        width: 50%;
        padding: 30px;
    }

    div#formulario > p {
        font-size: 1em;
    }
}