@charset "UTF-8";

:root {
    --cor0: #206767;
    --cor1: #7fe7e7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--fonte-padrao);
}

body {
    background-color: var(--cor0);    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.335);
    border-radius: 0 0 10px 10px;
}


div#imagem {
    background-image: url(../imagens/97647.jpg);
}