@charset "UTF-8";

:root {
    --cor0: #206767;
    --cor1: #7fe7e7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--fonte-padrao);
}


div#imagem {
    background: url(../imagens/97647.jpg);
}