@charset "UTF-8";

:root {
    --cor0: #206767;
    --cor1: #7fe7e7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom, #7fe7e7, #206767);   
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
   
    
    background-color: rgba(255, 255, 255, 0.674);
    width: 250px;
    height: 515px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.335);
    border-radius: 20px;
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}


section#login > div#imagem {
    display: block;
    background: #206767 url(../imagens/97647.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;      
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    color: var(--cor0);
    text-align: center;
    padding: 8px;
}

div#formulario > p {
    text-align: center;
    padding: 8px;
    font-size: 0.8em;
}

form > div.campo {
    background-color: #7fe7e7;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #206767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #0b8f8f;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    background-color: #ffffff;
    border: solid 1px #206767;
    border-radius: 5px;text-decoration: none;
    color: #206767;
}

form > a.botao:hover {
    background-color: #7fe7e7;
}

form > a.botao > span {
    font-size: 1em;
}